* {
  box-sizing: border-box;
  font-family: fantasy;
  margin: 0;
  padding: 0;
}

.body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}

.main-sup {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.form-input label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  background-color: rgb(10, 0, 99);
  border: 1px solid rgb(0, 0, 99);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 0;
}

button:disabled {
  background-color: rgb(150, 150, 150);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 0;
}

.add-form h1 {
  color: rgb(18, 41, 0);
  font-size: 2rem;
}

.card-body {
  background-color: rgb(18, 41, 0);
  border-radius: 12px;
  height: 450px;
  margin: 10px;
  padding: 10px;
  width: 280px;
}

.card-main {
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 15px;
}

.card-main h1 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  text-align: right;
}

.card-main h2 {
  font-size: 1.5rem;
}

.card-main h3 {
  text-align: center;
}

.card-main img {
  border-radius: 0 8px;
  width: 100%;
}

.cards-body {
  display: flex;
  flex-direction: column;
}

.cards-header {
  background-color: rgb(18, 41, 0);
  padding: 15px;
  width: 100%;
}

.cards-header h1 {
  color: wheat;
  text-align: center;
}

.cards-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-header-filter {
  align-items: center;
  background-color: beige;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: center;
  padding: 15px;
}

.cards-header-filter *:first-child {
  margin: 0 25px;
  padding: 5px;
}
